.dashboard-v2 {
  min-height: 100vh;
  background: #efefef;
  padding-bottom: 10px;
}

.dashboard-v2 > div:not(:last-child) {
  margin-bottom: 30px;
  width: 100%;
}

.dashboard-v2-inner > div:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .dashboard-v2 {
    padding: 10px;
  }
}
